API-Memoteca/API-Memoteca/obj/Debug/net8.0/API-Memoteca.AssemblyInfo.cs
API-Memoteca/API-Memoteca/obj/Debug/net8.0/API-Memoteca.AssemblyInfo.cs
API-Memoteca/API-Memoteca/obj/Debug/net8.0/API-Memoteca.AssemblyInfoInputs.cache
/API-Memoteca/.vs/API-Memoteca/FileContentIndex
