section {
  background-image: url("/assets/background-completo.png");
}

label {
  font-size: 19px;
  color: #154580;
  font-weight: bold;
}

h4 {
  font-size: 32px;
  color: #154580;
  font-weight: bold;
  line-height: 38px;
}
